<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <% if(!userSession || userSession == "undefined"){ %>
            <div id="navbar">
                <% include navLogIn.ejs %>
            </div>

            <% }else{ %>
            <div id="navbar">
                <% include navLogOut.ejs %>
            </div>
            <% } %>
            <div class="row">
                <div class="col-md-12" style="padding:0px">
                    <div class="row mainBar">
                        <div class="col-md-6">
                            <% if(!userSession){ %>
                            <div id="alerts">
                                <% if (success && resource == 'signIn'){ %>
                                <section class="success">
                                    <div class="alert alert-success">
                                        <h2>Successful Validation! You are registered.</h2>
                                    </div>
                                </section>
                                <% }else{ %>
                                <% if(errors){ %>
                                <section class="errors">
                                    <div class="alert alert-danger">
                                        <ul>
                                            <% errors.forEach(function(error){ %>
                                            <li><%= error.msg %></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </section>

                                <% } %>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                        <!--sign in log in-->
                        <div class="col-md-6">


                            <div style="display: none" id="signInForm">
                                <% include signIn.ejs %>
                            </div>
                            <div style="display: none" id="logInForm">
                                <% include logIn.ejs %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline search_form" action="searchForm" method="post">
                            <input class="form-control mr-sm-2" type="text" name="searchValue">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit" id="searchButton">
                                Search
                            </button>
                        </form>
                    </div>
                    <% if(userSession) { %>
                    <div class="col-md-6">

                        <div class="btn-group-float-right edit_buttons" role="group">

                            <button class="btn btn-secondary" onclick="changeToForm()" type="button">
                                Improve
                            </button>
                            <button class="btn btn-secondary" type="button">
                                Rate
                            </button>
                            <!--<div class="dropdown">-->
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                See Version
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Version 1</a>
                                <a class="dropdown-item" href="#">Version 2</a>
                                <a class="dropdown-item" href="#">Version 3</a>
                            </div>

                            <!--</div>-->

                            <button class="btn btn-secondary" type="button">
                                Save
                            </button>

                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Home</a>

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Voivodeships
                        </h4>
                    </div>
                    <div class="list-group-item justify-content-between">
                        Country / powiaty<span class="badge badge-default badge-pill">14</span>
                    </div>

                    <a href="#" class="list-group-item list-group-item-action justify-content-between">City/Village
                        / miejscowosc
                        <span class="badge bg-white badge-pill">14</span></a>
                    <div class="list-group-item">
                        Some city
                    </div>
                    <a href="#" class="list-group-item active">
                        Some other city
                    </a>
                </div>
            </div>
            <% include placeInfo.ejs %>

        </div>


        <!--Okkk down in Help and about section-->
        <% include about.ejs %>

    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/google_map.js"></script>
<script src="javascripts/jquery.loupe.min.js"></script>

<script>$('#dictionary_scan').loupe();</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFIRySRCulh5sctkrYE3ODCbOzc2AmPSo&callback=initMap"
        async defer></script>
<script>
    //    var $loadForm = $('#loadForm');
    var url = new URL(window.location);
    var $resource = url.searchParams.get('resource');
    var $success = url.searchParams.get('status');
    if ($resource != null) {
        if ($resource == 'logIn' && !$success) {
            document.getElementById('logInForm').style.display = 'block';
        }
    } else if ($resource == 'signIn' && !$success) {
        document.getElementById('signInForm').style.display = 'block';
    } else {
        document.getElementById('alerts').style.display = 'none';
    }
    if ($success == null) {
        document.getElementById('logInForm').style.display = 'none';
        document.getElementById('signInForm').style.display = 'none';
    }

    $('#signIn').click(function () {
        document.getElementById('signInForm').style.display = 'block';
        document.getElementById('logInForm').style.display = 'none';
        if ($resource != null) {
            if ($success) {
                document.getElementById('alerts').style.display = 'none';
            } else if ($resource == 'logIn') {
                document.getElementById('alerts').style.display = 'none';
            }
        }
    });
    $('#logIn').click(function () {
        document.getElementById('signInForm').style.display = 'none';
        document.getElementById('logInForm').style.display = 'block';
        if ($resource != null) {
            if ($success) {
                document.getElementById('alerts').style.display = 'none';
            } else if ($resource == 'signIn') {
                document.getElementById('alerts').style.display = 'none';
            }
        }
    });

</script>
</body>
</html>
