<div class="log_in">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">

            <form action="/logIn" role="form" method="post">

                <div class="form-group">

                    <label for="logEmail">
                        Email address
                    </label>
                    <input class="form-control" name="logEmail" id="logEmail" type="email">
                </div>
                <div class="form-group">

                    <label for="logPassword">
                        Password
                    </label>
                    <input class="form-control" name="logPassword" id="logPassword" type="password">
                </div>
                <button type="submit" class="btn btn-primary">
                   Log in
                </button>
            </form>
        </div>
    </div>
</div>